<div class="background"  >
  <img src="../assets/images/background.jpg" height="100%" width="100%">
  <div class="login">
    <img src="../assets/images/loginpic6.jpg" class="loginpic">
    <h1>
        Login Here
    </h1>
    <form>
        <p>
            Username
        </p>
        <input type="text" name="username" placeholder="Enter Username">
        <p>
            Password
        </p>
        <input type="password" name="password" placeholder="Enter Password">
        <input type="submit" name="submit" value="Login">
        <input type="reset" name="reset" value="Reset">
        <a href="#">Forgot Password</a>

    </form>
  </div>

</div>